name: Reusable Workflow
on:
    workflow_call:
        inputs:
            name:
                description: Enther the name
                required: true
                type: string
jobs:
    greeting:
        runs-on: ubuntu-latest
        steps:
            - name: Greeting Step
              run: echo "Welcome ${{ inputs.name }}!"